.container {
  text-align: center;
  margin: 24px 0;
}

.svg {
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.closeLayerMenuButton {
  text-align: center;
  font-size: 16px;
  font-family: CONDENSEicon;
  color: rgba(60, 60, 60, 1);
  margin-bottom: 24px;
}

.canvasLayerList {
  padding: 0 24px;
}

.inputs {
  div {
    text-align: center;
  }
}
