@import "../../constants";

.container {
  font-family: Quicksand, sans-serif;
  color: $Color-Black;
}

.column {
  margin-bottom: $Spacing-L;
}

.label {
  font-size: $FontSize-L;
  margin-bottom: $Spacing-S;
}

.description {
  font-size: $FontSize-S;
}
