@import "../../constants";

.container {
  @include animation;

  margin: 0 $Spacing-L;
  background: $Color-White;
  font-size: $FontSize-S;
  color: $Color-Black;
  cursor: pointer;
  border-radius: $Border-Radius;
  box-shadow: $Box-Shadow;
  padding: $Spacing-L;
  box-sizing: border-box;
  text-align: center;
  font-family: SmartFontUI, Quicksand, sans-serif;
  opacity: $Opacity;

  &:hover {
    @include scale;

    opacity: 1;
  }
}
