@import "../../constants";

.container {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Quicksand;
  font-size: $FontSize-S;
  color: $Color-Black;
  margin: $Spacing-L;

  img {
    height: 16px;
    padding: $Spacing-S / 2;
  }
}
