@import "../../constants";

.container {
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.canvasLayerContainer {
  padding: $Spacing-L $Spacing-XS;
}

.canvasLayer {
  @include animation;

  width: 80px;
  height: 70px;
  background: $Color-White;
  border-radius: $Border-Radius;
  box-shadow: $Box-Shadow;
  margin-left: $Spacing-S;
  opacity: $Opacity;
  cursor: pointer;

  &:first-child {
    margin-left: 0px;
  }

  &.addButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $FontSize-L;
    color: $Color-Black;
    font-family: CONDENSEicon;
  }

  &.emphasis {
    @include scale;
    opacity: 1;
  }
}
