// Spaces

$Spacing-XS: 4px;
$Spacing-S: 8px;
$Spacing-M: 16px;
$Spacing-L: 24px;

// Colors

$Color-White: rgba(250, 250, 250, 1);
$Color-Black: rgba(60, 60, 60, 1);
$Color-Pink: #ff7dbb;

// Borders

$Border-Radius: 8px;

// Box Shadows

$Box-Shadow: 0 6px 12px rgba(0, 0, 0, 0.1);

// Fonts

$FontSize-S: 12px;
$FontSize-M: 16px;
$FontSize-L: 20px;

$LineHeight-S: 14px;
$LineHeight-M: 18px;
$LineHeight-L: 22px;

// Opacity

$Opacity: 0.42;

// Animation

@mixin animation {
  transition: ease 0.4s;
  animation-fill-mode: forwards;
}

@mixin scale {
  transform: scale(1.06);
}
