@import "../../constants";

.contents {
  margin: 24px 0;

  font-size: $FontSize-S;
  line-height: $LineHeight-S;
  font-family: Quicksand, sans-serif;
}

.closeInformationButton {
  text-align: center;
  color: rgba(60, 60, 60, 1);
  margin-bottom: 24px;
  cursor: pointer;

  img {
    height: 16px;
  }
}
